{
  "branches": ["main"],
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "releaseRules": [
        {"type": "build", "scope": "Needs bump", "release": "patch"},
        {"type": "fix", "release": "patch"},
        {"type": "feat", "release": "minor"}
      ]
    }],
    "@semantic-release/release-notes-generator",
    ["@MorpheApp/changelog", {
      "releaseJson": {
        "path": "patches-bundle.json",
        "downloadUrlTemplate": "https://github.com/${owner}/${repo}/releases/download/v${version}/patches-${version}.mpp",
        "signatureUrlTemplate": ""
      }
    }],
    "gradle-semantic-release-plugin",
    ["@semantic-release/exec", {
      "prepareCmd": "jq '.version=\"v${nextRelease.version}\"' patches-list.json > patches-list.json.tmp && mv patches-list.json.tmp patches-list.json && sed -i 's/^version = .*/version = '${nextRelease.version}'/' gradle.properties"
    }],
    ["@semantic-release/github", {
      "assets": [{"path": "patches/build/libs/patches-!(*sources*|*javadoc*).mpp?(.asc)"}],
      "successComment": false
    }]
  ]
}
